<form method="POST">
  <input type="text" name="name" placeholder="Enter Name" required />

  <input type="email" name="email" placeholder="Enter Email" required />

  <input
    type="password"
    name="password"
    placeholder="Enter Password"
    required
  />

  <!-- Role Selection -->
  <select name="role" required>
    <option value="customer">Customer</option>
    <option value="seller">Seller</option>
    <option value="admin">Admin</option>
  </select>

  <button type="submit">Register</button>
</form>
